#!/bin/bash

#General configurations
SYSTEM_PWD_CFG="admin123"
AUTOWARE_LAUNCH_SCRIPT_X86_PATH_CFG="/home/nselvara/Naren/AMD_AVP/launch_scripts"
AUTOWARE_INSTALL_X86_PATH_CFG="/home/nselvara/Naren/AMD_AVP/autoware/install/x86/install"
AUTOWARE_LAUNCH_MAP_PATH_CFG="/home/nselvara/Naren/AMD_AVP/parking_map/wixom_ofc"

#Platform configuration
AUTOWARE_LAUNCH_PLATFORM_CFG="SIM"
AUTOWARE_LAUNCH_SCENARIO_CFG="AVP" # APA or AVP

#Core Module launch configurations X86 or NO
AUTOWARE_LAUNCH_VEHICLE_CFG="X86"
AUTOWARE_LAUNCH_PLANNING_CFG="X86"
AUTOWARE_LAUNCH_CONTROL_CFG="X86"
AUTOWARE_LAUNCH_PERCEPTION_CFG="X86"
AUTOWARE_LAUNCH_LOCALIZATION_CFG="X86"
AUTOWARE_LAUNCH_SENSING_CFG="X86"
AUTOWARE_LAUNCH_SYSTEM_CFG="X86"
AUTOWARE_LAUNCH_API_CFG="X86"
AUTOWARE_LAUNCH_HTOP_CFG="X86"
AUTOWARE_LAUNCH_VIZ_CFG="X86"
AUTOWARE_LAUNCH_MAP_CFG="X86"
AUTOWARE_LAUNCH_SIM_CFG="X86"
